body{
	background-color:#000;
	nav{
		background-color: $marron;
		ul{
			margin-left: 32%;
		}
		a.home{
			@include logo-home();
		}
	}
	section.info{
		background-color: $beige_background;
		margin-top: -1.1%;
		ul{
			display: -webkit-box;
			li{
				margin-left: 5%;
				img{
					border:10px solid $beige;
					@include imagen-info();
				}
			}
		}
		div.caja-texto.row{
			@include caja-responsive();
			ul{
				li{
					width: 70%;
					h5{
						font-weight:bold;
					}
					p{
						text-align: justify;
						padding-bottom: 20px;
					}
					a{
						color: #000;
						background-color:$beige;
					}
				}
			}
		}
	}
	section.welcome{
		background-color:$gris_background;
	}
	section.about{
		background-color:$marron_background;
	}
	footer{
		background-color:$marron_oscuro_background;
	}
}
